// colors
$white: #FFFFFF;
$black: #000000;
$text-color: rgba(0, 0, 0, 0.8);
$second-color: #FF3131;

//font-family
$ff-title:'Rubik', sans-serif;
$ff-wyswyg: 'Quattrocento Sans', sans-serif;
$sarala: 'Sarala', sans-serif;

// font-weight
$ff-bold: 600;
$ff-regular: 400;
$ff-light: 300;

// variable
$header-height: 120px;
$root-img: '/app/assets/img/';
$distance-20: 20px;
$distance-50: 50px;
$distance-100: 100px;
$distance-200: 200px;
$hr-height: 60px; 
$distance-200: 200px;
@media(width < 767px) {
    $header-height: 80px;
    $distance-20: 10px;
    $distance-50: 30px;
    $distance-100: 50px;
    $distance-200: 100px;
}

// z-index
$z-outside: 999999999;
$z-header: 99999999;

// :root {
//     --distance-20: 20px;
//     --distance-50: 50px;
//     --distance-100: 100px;
//     --distance-200: 200px;
//     --hr-height: 60px; 
//     --distance-200: 200px;
//     @media(width < 767px) {
//         --header-height: 80px;
//         --distance-20: 10px;
//         --distance-50: 30px;
//         --distance-100: 50px;
//         --distance-200: 100px;
//     }
// }
