body{
    margin: 0 !important;
    overflow-x: hidden;

    &.outside--show{
        position: fixed;
        overflow: auto;
    }


}
body.home{
    content: '';
    background: url('#{$root-img}/svg/crane-bg1.svg') no-repeat;
    background-size: cover;
}
body.formulario{
    content: '';
    background: url('#{$root-img}/svg/crane-bg1.svg') 100% no-repeat;
    background-size: cover;
}

hr{
    content: '';
    background: url('#{$root-img}/svg/footer-hr.svg') center center;
    width: auto;
    height:60px;
    margin:0;
    border: none;
}

img{
    border-radius: 5px;
    
}