.about-us {
    max-width: 1280px;
    margin: $distance-200 auto;
    padding: 0 20px;
    &__title{
        font-family: $ff-title;
        font-weight: $ff-bold;
        font-size: calc((32/16)*1em);
        text-align: center;
        margin-bottom: $distance-50 0 0;
    }

    &__wyswyg{
        font-family: $ff-wyswyg;
        font-size: calc((16/16)*1em);
        line-height: 1.5;
        color: $text-color;
        margin-top: $distance-20;
    }

    &__photo{
        border-radius: 5px;
        box-shadow: 0 20px 30px rgba(0,0,0,0.2);
        line-height: 0;
    }

    &__subtitle{
        font-family: $ff-title;
        font-weight: $ff-bold;
        font-size: calc((32/16)*1em);
        color: $second-color;
    }

    &__container{
        &:not(:first-child) {
            margin-top: $distance-200;
        }
        &:nth-child(odd){
            display: flex;
            gap: $distance-50;
        }

        &:nth-child(even){
            display: flex;
            flex-direction: row-reverse;
            gap: $distance-50;
        }

        @media(max-width: 1080px) {
            flex-wrap: wrap;
            justify-content: center;
        }

    }

    &__content {
        max-width: 600px;
        @media(min-width: 1081px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}