@import 'variables';

body{
    margin: 0 !important;
    content: '';
    background: url('#{$root-img}/svg/crane-bg1.svg') 100% 950px no-repeat;
    overflow-x: hidden;
}

// HEADER
    .main-header{
        position: sticky;
        top: 0;
        background-color: $black;
        display: grid;
        grid-template-columns: 60px 1fr auto auto;
        align-items: center;
        height: $header-height;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
        z-index: $z-header;

        &__trigger{
            background: url('#{$root-img}/svg/meenu-trigger.svg') center center no-repeat;
            width: 40px;
            height: 15px;
            margin: 0 auto;
            &:hover{
                cursor: pointer;
                opacity: .7;
            }
        }

        &__phone, &__lng{
            color: $white;
            font-family: $poppins;;
            font-weight: bold;

            &:hover{
                cursor: pointer;
                opacity: .7;
            }
        }

        &__phone{
            display: flex;
            align-items: center;
            margin: 0 $distance-20;

            &::before{
                content: '';
                background: url('#{$root-img}//svg/call-us.svg') center center no-repeat;
                width: 20px;
                height: 20px;
                display: inline-block;
                margin-right: calc(($distance-20) / 2);
            }
        }

        &__lng{
            display: flex;
            align-items: center;
            margin: 0 $distance-20;
            text-transform: uppercase;

            &::before{
                content: '';
                background: url('#{$root-img}//svg/chevron-down.svg') center center no-repeat;
                width: 20px;
                height: 20px;
                display: inline-block;
                margin-right: calc(($distance-20) / 2);
            }
        }
    }

// OUTSIDE
    .outside{
        opacity: 0;
        visibility: hidden;
        position: absolute;
        pointer-events: none;
        background: $black;
        padding: 20px;
        position: fixed;
        top: 0;
        left: 0;
        transition: 0.3s;
        width: 100%;
        height: 100%;
        z-index: $z-outside;

        &__close{
            background: url('#{$root-img}//svg/close-white.svg') center center no-repeat;
            width: 40px;
            height: 40px;
            display: inline-block;
            margin-left: 95%;
            margin-top: 2%;
            &:hover{
                cursor: pointer;
                opacity: .7;
            }
        }

        .logo{
            display:flex;
            justify-content: center;
        }

        &__nav{
            font-family: $red-hat;
            text-align: center;

            ul{
                display: grid;
                gap: 20px;
                list-style: none;
                margin-top: 100px;
                li{
                    a{
                        color: $white;
                        text-decoration: none;
                        font-size: calc((40/16)*1em);
                        &:hover{
                            color: $second-color;
                            transition: 0.5s;
                        }
                    }
                }
            }
        }
    }

    .outside--show{
        .outside{
            opacity: 1;
            visibility: visible;
            pointer-events: all;
        }
    }

// WIDGET-SOCIALMEDIA
    .widget-socialmedia{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: $distance-20;
        margin-top: 50px;

        .widget-facebook, .widget-instagram, .widget-whatsapp, .widget-youtube {
            content: '';
            width: 40px;
            height: 40px;
            position: relative;

            &::after{
                content: '';
                position: absolute;
                background-color: $second-color;
                height: 3px;
                width: 0;
                bottom: -10px;
                left: 0;
                transition: 0.3s;
            }
    
            &:hover::after{
                width: 100%;
            }
        }

        .widget-facebook{
            background: url('#{$root-img}/socialmedia/facebook-white.svg') center center no-repeat;
        }

        .widget-instagram{
            background: url('#{$root-img}/socialmedia/instagram-white.svg') center center no-repeat;
        }

        .widget-whatsapp{
            background: url('#{$root-img}/socialmedia/whatsapp-white.svg') center center no-repeat;
        }

        .widget-youtube{
            background: url('#{$root-img}/socialmedia/youtube-white.svg') center center no-repeat;
        }

    }

// FOOTER
    .main-footer{
        background-color: $black;
        position: sticky;
        top: 100vh;
        padding: 50px 30px 100px;
        .logo__footer{
            display: grid;
            justify-content: center;
        }
        &__content{
            display: flex;
            color: $white;
            justify-content: space-between;
            max-width: 1240px;
            margin: 50px auto 0;
            font-family: $poppins;;
        }

        &__title{
            font-family: $poppins;
            font-size: calc((28/16)*1em);
        }

        &__contact{
            &-phone{
                display: flex;
                align-items: center;
                &::before{
                    content: '';
                    background: url('#{$root-img}/svg/phone-white.svg') center center no-repeat;
                    width: 35px;
                    aspect-ratio: 1;
                    display: inline-block;
                    margin-right: calc(($distance-20) / 2);
                }
            }
            &-email{
                display: flex;
                align-items: center;
                &::before{
                    content: '';
                    background: url('#{$root-img}/svg/email-white.svg') center center no-repeat;
                    width: 35px;
                    aspect-ratio: 1;
                    display: inline-block;
                    margin-right: calc(($distance-20) / 2);
                }
            }
        }

        .widget-socialmedia{
            margin-top: calc(($distance-20) / 2);
        }
    }

// HOME
    .home-welcome{
        display: grid;
        grid-template-columns: 620px 600px;
        gap: 20px;
        justify-content: center;
        margin: $distance-100 0;
        // animation: fadeIn 1.5s ease-in;
        opacity: 1;

        &__title{
            font-family: $red-hat;
            font-weight: $ff-bold;
            font-size: calc((32/16)*1em);
            animation: fadeIn 1.5s ease-in forwards;
            animation-delay: 0.5s;
            opacity: 0;
        }

        &__wyswyg{
            font-family: $poppins;;
            font-size: calc((16/16)*1em);
            line-height: 1.5;
            color: $text-color;
            opacity: 0;
            margin-top: 0;
            animation: fadeIn 1.5s ease-in forwards;
            animation-delay: 1s;
        }
    }

    .home-projects{
        padding: $distance-100 0;
        background-color: rgba(175,175,175,0.2);

        &__title{
            font-family: $red-hat;
            font-weight: $ff-bold;
            font-size: calc((32/16)*1em);
            text-align: center;
        }
    }

    hr{
        content: '';
        background: url('#{$root-img}/svg/footer-hr.svg') center center;
        width: auto;
        height:60px;
        margin:0;
        border: none;
    }

    .home-services{
        padding: $distance-100 0;

        &__title{
            font-family: $red-hat;
            font-weight: $ff-bold;
            font-size: calc((32/16)*1em);
            text-align: center;
        }

        &__list{
            display: grid;
            list-style: none;
            grid-template-columns: repeat(3, 375px);
            gap: 90px;
            justify-content: center;
            margin-top: $distance-20;

            &:first-child{
                animation: goUp 3s ease-in forwards;
            }
            &:nth-child(2){
                animation: goUp 2s ease-in forwards;
            }
            &:last-child{
                animation: goUp 1s ease-in forwards;
            }
        }

        &__service{
            &-title{
                font-family: $red-hat;
                font-weight: $ff-bold;
                font-size: calc((28/16)*1em);
                margin-bottom: calc(($distance-20) / 2);
                color: $second-color;
            }

            &-wyswyg{
                font-family: $poppins;;
                font-size: calc((16/16)*1em);
                line-height: 1.5;
                color: $text-color;
            }
        }

        &__link{
            font-family: $poppins;
            font-size: calc((16/16)*1em);
            text-align: center;
            margin-top: $distance-50;
            text-decoration: underline;

            &:hover{
                cursor: pointer;
                opacity: .7;
                transition: 0.2s;
            }
        }
    }

// SLIDER
    #splide1{
        .splide{
            &__slide{
                img{
                    transform: scale(0.85);
                    transition: 0.5s;
                }
            }

            &__track{
                margin-top: $distance-20;
            }

            &__pagination{
                transform: translateY(-50px);
            }

            &__pagination__page.is-active{
                background-color: $second-color !important;
            }
        }
    }

    #splide1{
        .splide__slide.is-active img{
            transform: scale(1);
            transition: 0.5s;
        }
    }

    #splide2{
        .splide__arrow{
            background-color: transparent;
            top: 87%;
            svg {
                width: 40px;
                height: 40px;
            }

            &--prev{
                left: 5%;
            }

            &--next{
                left: 9%;
            }
        }
        .splide{
            &__title{
                position: absolute;
                top:40%;
                z-index: 999;
                text-align: center;
                width: 100%;
                color: $white;
                font-family: $sarala;
                font-size: calc((64/16)*1em);
            }
        }

    }

//ANIMATIONS
    @keyframes fadeIn{
        from{
            transform: translateX(100%);
        }
        to{
            opacity: 1;
            transform: translateX(0);
        }
    }

    @keyframes goUp{
        from{
            transform: translateY(100%);
        }
        to{
            transform: translateY(0);
        }
    }
