// colors
$white: #FFFFFF;
$black: #000000;
$text-color: #AFAFAF;
$second-color: #FF3131;

//font-family
$ff-wyswyg: 'Poppins', sans-serif;
$ff-title: 'Sarala', sans-serif;
$ff: 'Red Hat Display', sans-serif;
$ff-bold: 600;
$ff-regular: 400;
$ff-light: 300;

// variable
$header-height: 120px;
$root-img: '/assets/img/';
$distance-20: 20px;
$distance-100: 100px;
$distance-200: 200px;

