.slideshow {
    &__img{
        &:not(iframe) {
            min-height: 100%;
            object-fit: cover;
            width: 100%;
            @media(min-width: $mq_desktop ){
                max-height: 800px;
            }     
        }
    }
}