.slideshow {
    &__img{
        &:not(iframe) {
            min-height: 100%;
            object-fit: cover;
            width: 100%;
            @media(min-width: 1240px ){
                max-height: 800px;
            }     
            @media(max-width: 766px) {
                height: 800px;
            }
        }
    }
}