#splide1{
    .splide{
        &__slide{
            img{
                transform: scale(0.85);
                transition: 0.5s;
            }
        }

        &__track{
            margin-top: $distance-20;
        }

        &__pagination{
            transform: translateY(-50px);
        }

        &__pagination__page.is-active{
            background-color: $second-color !important;
        }
    }
}

#splide1{
    .splide__slide.is-active img{
        transform: scale(1);
        transition: 0.5s;
    }
}

#splide2{
    .splide__arrow{
        background-color: transparent;
        top: 87%;
        svg {
            width: 40px;
            height: 40px;
        }

        &--prev{
            left: 5%;
        }

        &--next{
            left: 9%;
        }
    }
}

#splide2 {
    .splide__slide {
        @media(max-width: 767px) {
            height: 80vh;

            img {
                min-height: 100%;
                object-fit: cover;
            }
        }
    }

}