.gallery {
  max-width: 1280px;
  margin: 100px auto;
}
.gallery__title {
  font-size: 2em;
  text-align: center;
}
.gallery__wyswyg {
  font-size: 1em;
  line-height: 1.5;
}
.gallery__list ul {
  list-style: none;
  align-items: flex-start;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  margin-top: 50px;
}
.gallery__list ul .gallery__item {
  overflow: hidden;
  border-radius: 5px;
}