.home-services{
    padding: $distance-100 0;

    &__title{
        font-family: $ff-title;
        font-weight: $ff-bold;
        font-size: calc((32/16)*1em);
        text-align: center;
    }

    &__list{
        display: grid;
        list-style: none;
        grid-template-columns: repeat(auto-fit, minmax(315px, 375px));
        gap: 90px;
        justify-content: center;
        margin-top: 40px;

    }
    
    &__service{
        margin: 0 auto;
        max-width: 360px;
        &-title{
            font-family: $ff-title;
            font-weight: $ff-regular;
            font-size: calc((28/16)*1em);
            color: $second-color;
            margin-top: 10px;
        }

        &-wyswyg{
            font-family: $ff-wyswyg;
            font-size: calc((16/16)*1em);
            line-height: 1.5;
            color: $text-color;
            margin-top: 10px;
            text-align: justify;
        }
    }

    &__link{
        display: flex;
        justify-content: center;
        font-family: $ff-wyswyg;
        font-size: calc((16/16)*1em);
        text-align: center;
        margin-top: $distance-50;
        font-weight: 600;
        text-transform: uppercase;
        text-decoration: none;
        color: black;
        &:hover{
            cursor: pointer;
            opacity: .7;
            transition: 0.2s;
        }
    }
    
    &__photo{
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.246613);
        border-radius: 5px;
        line-height: 0;

        img {
            width: 360px;
            height: 315px;
            object-fit: cover;
        }
    }
}