.home-welcome{
    display: grid;
    display: flex;
    gap: 50px;
    justify-content: center;
    margin: $distance-100 0;
    @media(max-width: 1300px) {
        padding: 0 20px;
    }
    @media(max-width: 1080px) {
        flex-wrap: wrap;
    }

    &__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 620px;
        @media(min-width: 1440px) {
            opacity: 0;
        }
    }

    &__title{
        font-family: $ff-title;
        font-weight: $ff-bold;
        font-size: calc((48/16)*1em);
        margin-bottom: 0;
    }

    &__wyswyg{
        font-family: $ff-wyswyg;
        font-size: calc((16/16)*1em);
        line-height: 1.5;
        color: $text-color;
        margin-top: 10px;
    }

    &__photo{
        box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        line-height: 0;
        max-width: 600px;
    }
}
