.home-projects{
    padding: $distance-100 0;
    background-color: rgba(175,175,175,0.2);

    &__title{
        font-family: $ff-title;
        font-weight: $ff-bold;
        font-size: calc((32/16)*1em);
        text-align: center;
    }

    &__carousel {
        .splide__slide {
            @media(max-width: 1440px) {
                display: flex;
                justify-content: center;
            }
        }
    }

    .splide__slide:not(.is-active){
        img{
            box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.246613);
        }
    }

    img {
        width: 100%;
    }
}