.services{
    max-width: 1280px;
    margin: 100px auto;

    &__title{
        font-family: $ff-title;
        font-weight: $ff-bold;
        font-size: calc((32/16)*1em);
        text-align: center;
        margin-bottom: $distance-50 0 0;
    }

    &__subtitle{
        font-family: $ff-title;
        font-weight: $ff-bold;
        font-size: calc((32/16)*1em);
    }

    &__wyswyg{
        font-family: $ff-wyswyg;
        font-size: calc((16/16)*1em);
        line-height: 1.5;
        color: $text-color;
        margin-top: $distance-20;
    }

    &__container{
        margin-top: $distance-100;
        &:nth-child(odd){
            display: flex;
            gap: $distance-20;
        }

        &:nth-child(even){
            display: flex;
            flex-direction: row-reverse;
            gap: $distance-20;
        }
    }

    &__link{
        text-align: center;
    }
}