.nav-legal {
    max-width: 1240px;
    margin: $distance-50 auto;

    &__list {
        color: white;
        font-size: calc((14 / 16) * 1em);       
        text-align: center;
        font-family: "Quattrocento Sans", sans-serif;

        [class*='item']{
            display: inline-block;
            list-style: none;
            margin: 5px 0;
            color:white;

            &:not(:first-of-type){
                &:before{
                    content: '·';
                    margin: 0 5px;
                }
            }
        }

        [class*='link']{
            color:white;
            text-decoration: none;
            transition: opacity .5s;

            &:hover, &:focus{
                opacity: .7;
                transition: opacity .5s;
            }
        }
    }

}