<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Grúas Osuna | Web oficial</title>
        <!-- GOOGLE FONTS -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
        <!-- CSS y JS -->
        <link rel="stylesheet" href="/app/assets/css/df.css">
        <link rel="stylesheet" href="/app/node_modules/@splidejs/splide/dist/css/splide.min.css">
        <script src="/app/node_modules/@splidejs/splide/dist/js/splide.min.js"></script>
        <script src="/app/assets/js/main.js"></script> 
        <!-- FAVICON -->
        <link rel="icon" href="/app/assets/img/favicon/favicon.ico">
        <link rel="icon" href="/app/assets/img/favicon/favicon-32x32.png">
        <link rel="apple-touch-icon" href="/app/assets/img/favicon/apple-touch-icon.png">
        <link rel="manifest" href="/app/assets/img/favicon/manifest.json">
        <!-- OGG -->
        <meta property="og:title" content="Grúas Osuna | Grúas y Transportes en Mallorca | Web Oficial">
        <meta property="og:locale" content="es">
        <meta property="og:url" content="https://www.gruasosuna.com/gallery.html">
        <meta property="og:description" content="Grúas Osuna es una empresa familiar de transporte, servicio de grúas y.. ¡mucho más!">
        <meta property="og:type" content="website">
        <meta property="og:image" content="/app/assets/img/jpg/PHOTO-2023-10-21-10-24-25 5.jpg">
        <meta property="og:image:width" content="1200">
        <meta property="og:image:height" content="630">
    </head>
<body>
    <header class="main-header">
        <div id="menu-trigger" class="main-header__trigger"></div>
        <div class="logo">
            <a href="/app">
                <img src="/app/assets/img/logo/logo.svg">
            </a>
        </div>
        <div class="main-header__phone">
            <p>Llámanos</p>
        </div>
    </header>
    <div class="outside">
        <a id="close__outside" class="outside__close"></a>
        <div class="outside__container">
            <div class="logo">
                <a href="/app">
                    <img src="/app/assets/img/logo/logo.svg">
                </a>
            </div>
            <nav class="outside__nav">
                <ul>
                    <li><a href="/app/layouts/about-us.html">Sobre nosotros</a></li>
                    <li><a href="/app/layouts/trucks.html">Camiones</a></li>
                    <li><a href="/app/layouts/services.html">Servicios</a></li>
                    <li><a href="/app/layouts/gallery.html">Proyectos</a></li>
                    <li><a href="/app/layouts/form.html">Contáctanos</a></li>
                </ul>
            </nav>
            <div class="widget-socialmedia">
                <div class="widget-facebook">
                    <a class="widget-link"href="https://www.facebook.com/profile.php?id=61556523885170" target="_blank" rel="nofollow"></a>
                </div>
                <div class="widget-instagram">
                    <a class="widget-link" href="https://www.instagram.com/gruas_osuna" target="_blank" rel="nofollow"></a>
                </div>
            </div>
        </div>
    </div>

    <main>
        <div class="gallery">
            <h2 class="gallery__title">Una mirada a nuestra excelencia</h2>
            <div class="gallery__wyswyg">Sumérgete en nuestra galería de trabajos realizados y descubre la calidad y la diversidad de nuestros proyectos. Desde transporte de mercancías hasta montajes de estructuras, cada imagen cuenta la historia de nuestro compromiso con la excelencia y la profesionalidad en cada trabajo que realizamos. Explora cómo trabajamos y déjate inspirar para tu próximo proyecto con Gruas Osuna.</div>
            <div class="gallery__list">
                <ul>
                    <li class="gallery__item">
                        <img src="https://picsum.photos/300/230"/>
                    </li>
                    <li class="gallery__item">
                                                <img src="https://picsum.photos/300/230"/>
                    </li>
                    <li class="gallery__item">
                                                <img src="https://picsum.photos/300/230"/>
                    </li>
                    <li class="gallery__item">
                                                <img src="https://picsum.photos/300/230"/>
                    </li>
                    <li class="gallery__item">
                                                <img src="https://picsum.photos/300/230"/>
                    </li>
                    <li class="gallery__item">
                                                <img src="https://picsum.photos/300/230"/>
                    </li>
                    <li class="gallery__item">
                                                <img src="https://picsum.photos/300/230"/>
                    </li>
                    <li class="gallery__item">
                        <img src="https://picsum.photos/300/230"/>
                    </li>
                    <li class="gallery__item">
                                                <img src="https://picsum.photos/300/230"/>
                    </li>
                    <li class="gallery__item">
                                                <img src="https://picsum.photos/300/230"/>
                    </li>
                    <li class="gallery__item">
                                                <img src="https://picsum.photos/300/230"/>
                    </li>
                    <li class="gallery__item">
                                                <img src="https://picsum.photos/300/230"/>
                    </li>
                    <li class="gallery__item">
                                                <img src="https://picsum.photos/300/230"/>
                    </li>
                    <li class="gallery__item">
                                                <img src="https://picsum.photos/300/230"/>
                    </li>
                    <li class="gallery__item">
                        <img src="https://picsum.photos/300/230"/>
                    </li>
                    <li class="gallery__item">
                                                <img src="https://picsum.photos/300/230"/>
                    </li>
                    <li class="gallery__item">
                                                <img src="https://picsum.photos/300/230"/>
                    </li>
                    <li class="gallery__item">
                                                <img src="https://picsum.photos/300/230"/>
                    </li>
                    <li class="gallery__item">
                                                <img src="https://picsum.photos/300/230"/>
                    </li>
                    <li class="gallery__item">
                                                <img src="https://picsum.photos/300/230"/>
                    </li>
                    <li class="gallery__item">
                                                <img src="https://picsum.photos/300/230"/>
                    </li>
                    <li class="gallery__item">
                        <img src="https://picsum.photos/300/230"/>
</li>
<li class="gallery__item">
                        <img src="https://picsum.photos/300/230"/>
</li>
<li class="gallery__item">
                        <img src="https://picsum.photos/300/230"/>
</li>

                </ul>
            </div>      

    </main>
    <hr>
    <footer class="main-footer">
        <div class="logo__footer">
            <a href="/app">
                <img src="/app/assets/img/logo/logo-footer.svg">
            </a>
        </div>
        <div class="main-footer__content">
            <div class="main-footer__contact">
                <h3 class="main-footer__title">Contacta con nosotros</h3>
                <a href="tel:+34645989074" class="main-footer__contact-phone">+34 645 98 90 74</a>
                <a href="mailto:info@gruasosuna.com" class="main-footer__contact-email">info@gruasosuna.com</a>
            </div>
            <div class="main-footer__socialmedia">
                <h3 class="main-footer__title">Nuestras redes sociales</h3>
                <div class="widget-socialmedia">
                    <div class="widget-facebook">
                        <a class="widget-link"href="https://www.facebook.com/profile.php?id=61556523885170" target="_blank" rel="nofollow"></a>
                    </div>
                    <div class="widget-instagram">
                        <a class="widget-link" href="https://www.instagram.com/gruas_osuna" target="_blank" rel="nofollow"></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
