<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a transportes osuna</title>
    <link rel="stylesheet" href="/assets/css/df.css">
    <link rel="stylesheet" href="/node_modules/@splidejs/splide/dist/css/splide.min.css">
    <script src="/node_modules/@splidejs/splide/dist/js/splide.min.js"></script>
    <script src="/assets/js/main.js"></script> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Open+Sans:wght@300&family=Oswald:wght@600&display=swap" rel="stylesheet">
</head>
<body class="home">
    <header class="main-header">
        <div id="menu-trigger" class="main-header__trigger"></div>
        <div class="logo">
            <a href="/app">
                <img src="/assets/img/logo/logo.svg">
            </a>
        </div>
        <div class="main-header__phone">
            <p>Llámanos</p>
        </div>
    </header>
    <div class="outside">
        <a id="close__outside" class="outside__close"></a>
        <div class="outside__container">
            <div class="logo">
                <a href="/app">
                    <img src="/assets/img/logo/logo.svg">
                </a>
            </div>
            <nav class="outside__nav">
                <ul>
                    <li><a href="/app/layouts/about-us.html">Sobre nosotros</a></li>
                    <li><a href="/app/layouts/trucks.html">Nuestros camiones</a></li>
                    <li><a href="/app/layouts/services.html">Nuestros servicios</a></li>
                    <li><a href="/app/layouts/form.html">Contáctanos</a></li>
                    <li><a href="/app/layouts/gallery.html">Nuestros proyectos</a></li>
                </ul>
            </nav>
            <div class="widget-socialmedia">
                <div class="widget-facebook"></div>
                <div class="widget-instagram"></div>
                <div class="widget-whatsapp"></div>
                <div class="widget-youtube"></div>
            </div>
        </div>
    </div>
    <div class="splide" id="splide2">
        <div class="splide__track">
            <ul class="splide__list">
                <li class="splide__slide">
                    <h1 class="splide__title">Transportes Osuna</h1>
                    <img src="https://picsum.photos/1920/800"/>
                </li>
                <li class="splide__slide"><img src="/assets/img/jpg/PHOTO-2023-10-21-10-24-25 5.JPG"/></li>
                <li class="splide__slide"><img src="https://picsum.photos/1920/800"/></li>
                <li class="splide__slide"><img src="https://picsum.photos/1920/800"/></li>
            </ul>
        </div>
    </div>

    <main>
        <section>
            <div class="trucks">
                <h2 class="trucks__title">Nuestra flota de camiones</h2>
                <div class="trucks__wyswyg">
                    En Grúas Osuna, comprendemos que cada proyecto es único y requiere soluciones específicas. Por ello, ponemos a su disposición una amplia y moderna flota de camiones de diferentes tonelajes y capacidades, cuidadosamente seleccionados para adaptarnos a las necesidades más exigentes.</div>
                <article class="trucks__container">
                    <div class="trucks__photo">
                        <img src="https://picsum.photos/600/400"/>
                    </div>
                    <div class="trucks__content">
                        <h3 class="trucks__subtitle">VOLVO FM6 18t</h3>
                        <div class="trucks__wyswyg">Equipado con: 
                            <ul>
                                <li>PK 16500</li>
                                <li>15m de grúa con cabestrante</li>
                                <li>Carga útil de 7.7t con volquete</li>
                                <li>Dimensión de la caja: 3’60 x 2’30m</li>
                            </ul>
                        </div>
                    </div>
                </article>
                <article class="trucks__container">
                    <div class="trucks__photo">
                        <img src="https://picsum.photos/600/400"/>
                    </div>
                    <div class="trucks__content">
                        <h3 class="trucks__subtitle">VOLVO FM9 26t</h3>
                        <div class="trucks__wyswyg">Equipado con: 
                            <ul>
                                <li>PK 24500 articulada 20m</li>
                                <li>Carga útil de 10t con volquete</li>
                                <li>Dimensión de la caja: 5’30 x 2’35 m</li>
                            </ul>
                        </div>
                    </div>
                </article>
                <article class="trucks__container">
                    <div class="trucks__photo">
                        <img src="https://picsum.photos/600/400"/>
                    </div>
                    <div class="trucks__content">
                        <h3 class="trucks__subtitle">RENAULT 440 26t</h3>
                        <div class="trucks__wyswyg">Equipado con: 
                            <ul>
                                <li>PK 44000 articulada 25m</li>
                                <li>Carga útil de 7.7t</li>
                                <li>⁠Dimensión de la caja: 4’30 x 2’35m</li>
                                <li>Sube hasta 5 o 6 pisos de altura</li>
                            </ul>
                        </div>
                    </div>
                </article>
                <article class="trucks__container">
                    <div class="trucks__photo">
                        <img src="https://picsum.photos/600/400"/>
                    </div>
                    <div class="trucks__content">
                        <h3 class="trucks__subtitle">RENAULT KERAX 26t PLATAFORMA</h3>
                        <div class="trucks__wyswyg">Equipado con: 
                            <ul>
                                <li>PK 44000 articulada y con cabestrante</li>
                                <li>Carga útil de 7.7t</li>
                                <li>⁠Dimensión de la caja: 2’5 x 5’3m</li>
                                <li>Sube hasta 6 pisos de altura</li>
                            </ul>
                        </div>
                    </div>
                </article>
                <article class="trucks__container">
                    <div class="trucks__photo">
                        <img src="https://picsum.photos/600/400"/>
                    </div>
                    <div class="trucks__content">
                        <h3 class="trucks__subtitle">IVECO TRAKKER 32t</h3>
                        <div class="trucks__wyswyg">Equipado con: 
                            <ul>
                                <li>PK 74000 32m de grúa</li>
                                <li>Carga útil de 6.5t</li>
                                <li>Dimensión de la caja: 2’3 x 4’2m</li>
                                <li>Sube hasta 7 pisos de altura</li>
                            </ul>
                        </div>
                    </div>
                </article>
            </div>
        </section>

        <section>
            <div id="splide1" class="home-projects splide" aria-label="Splide Basic HTML Example">
                <h2 class="home-projects__title">Algunos de nuestros proyectos</h2>
                <div class="splide__track">
                    <ul class="splide__list">
                        <li class="splide__slide"><img src="https://picsum.photos/600/400"/></li>
                        <li class="splide__slide"><img src="https://picsum.photos/600/400"/></li>
                        <li class="splide__slide"><img src="https://picsum.photos/600/400"/></li>
                        <li class="splide__slide"><img src="https://picsum.photos/600/400"/></li>
                        <li class="splide__slide"><img src="https://picsum.photos/600/400"/></li>

                    </ul>
                </div>
            </div>
        </section>
    </main>

    <hr>
    <footer class="main-footer">
        <div class="logo__footer">
            <a href="/app">
                <img src="/assets/img/logo/logo-footer.svg">
            </a>
        </div>
        <div class="main-footer__content">
            <div class="main-footer__contact">
                <h3 class="main-footer__title">Contacta con nosotros</h3>
                <p class="main-footer__contact-phone">+34 633 70 84 83</p>
                <p class="main-footer__contact-email">transportesygruasosuna@gmail.com</p>
            </div>
            <div class="main-footer__socialmedia">
                <h3 class="main-footer__title">Nuestras redes sociales</h3>
                <div class="widget-socialmedia">
                    <div class="widget-facebook"></div>
                    <div class="widget-instagram"></div>
                    <div class="widget-whatsapp"></div>
                    <div class="widget-youtube"></div>
                </div>
            </div>
        </div>
    </footer>
</body>
