.outside{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    pointer-events: none;
    background: $black;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.3s;
    width: 100%;
    height: 100%;
    z-index: $z-outside;
    // clip-path: circle(100% at top left);
    // transition: 1s;

    &__close{
        background: url('#{$root-img}//svg/close-white.svg') center center no-repeat;
        width: 40px;
        height: 40px;
        display: inline-block;
        margin-left: 95%;
        margin-top: 2%;
        &:hover{
            cursor: pointer;
            opacity: .7;
        }
    }

    .logo{
        display:flex;
        justify-content: center;
    }

    &__nav{
        font-family: $ff-title;
        text-align: center;

        ul{
            display: grid;
            gap: 20px;
            list-style: none;
            margin-top: 100px;
            li{
                a{
                    color: $white;
                    text-decoration: none;
                    font-size: calc((40/16)*1em);
                    &:hover{
                        color: $second-color;
                        transition: 0.5s;
                    }
                }
            }
        }
    }
}

.outside--show{
    // clip-path: circle(10% at top left);
    // transition: 1s;
    .outside{
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }
}