.gallery {
    max-width: 1280px;
    margin: 100px auto;
    padding: 0 20px;
    &__title{
        font-family: $ff-title;
        font-weight: $ff-bold;
        font-size: calc((32/16)*1em);
        text-align: center;
        margin-bottom: $distance-50 0 0;
    }

    &__wyswyg{
        font-family: $ff-wyswyg;
        font-size: calc((16/16)*1em);
        line-height: 1.5;
        color: $text-color;
        margin-top: $distance-20;
    }

    &__list{
        display: grid;
        list-style: none;
        align-items: flex-start;
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-template-rows: 300px;
        margin-top: 50px;

        img {
            width: 300px;
            height: 300px;
            object-fit: cover;
        }
        
        a{
            opacity: 1;
            transition: opacity .5s;
            &:hover {
                opacity: .7;
                transition: opacity .5s;
            }
        }

    }
}